@tailwind base;
@tailwind components;
@tailwind utilities;
/* .shimmer-card{
  width: 200px;
  height: 400px;
  background-color: rgb(214, 192, 192);
  margin:20px;
  flex-wrap: wrap;
}
.div-class{
  text-align: center;
  font-family: serif;
  height: 450px;
  width: 300px;
  border:1px solid black;
  margin: 30px;
    padding: 3px;

}
.div-class>img{
  height:250px;
  width: 100%;
}
.divv{
  display: flex;
  flex-wrap: wrap;
 
} */
